@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color:white;
}
body{
    background: url('assets/bg.jpg');
    background-position:center ;
    background-size: cover;
    height:100dvh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    font-size: large;
}
body::before{
    content:'';
    position:absolute;
    height: 100dvh;
    width: 100%;
    background:rgba(0,0,0,0.15);
    backdrop-filter: blur(12px);
}
/* UTILITY */
.regular-txt{
    font-weight: 400;
}
/* END UTILITY */

/* MAIN CONTAINER */
.main-container{
    width:330px;
    height:496px;
    z-index: 1;
    background: linear-gradient(to top ,rgba(0,0,0,0.15),rgba(255,255,255,0.15));
    border-radius: 12px;
    backdrop-filter:blur(60px);
    padding:20px;
}

/*END MAIN CONTAINER*/


/* INPUT CONTAINER */
.input-container{
    position: relative;
    margin-bottom:25px;
}

.city-input{
    width:100%;
    padding:10px 16px;
    border-radius:99px;
    font-weight: 500;
    font-size: 12px;
    border: 3px solid transparent;
    outline: none;
    background:rgba(0,0,0,0.15);
    color:white;
    transition: 0.5s border;
    padding-right:40px;
}
.city-input:focus{
    border:3px solid rgba(0,0,0,0.15)
}
.city-input::placeholder{
    color: rgba(255,255,255,0.75);
}

.search-btn{
    position: absolute;
    right:16px;
    top:50%;
    transform: translateY(-50%);
    background: none;
    border:none;
    color:white;
    display:flex;
    scale: 110%;
    cursor:pointer;
}
/* END INPUT CONTAINER */

/* Weather Info */
.weather-info{
    display:flex;
    flex-direction: column;
    gap:25px;
}
/* location And Date*/
.location-date-time{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    display:flex;
    gap:6px;
}
/*End location And Date*/

/* Weather Summury */
.weather-summury-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.weather-summury-image{
    width:120px;
    height:120px;
}
.weather-summury-info{
    text-align: end;
}
/* End Weather Summury */

/* Wether Condition */
.weather-condition-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.condition-item{
    display:flex;
    align-items: center;
    gap:10px;
}
.condition-item span{
    font-size:30px;
} 
/* End Wether Condition */

/* Forcasting info */
.forcast-itmes-container{
    display: flex;
    gap:15px;
    overflow-x:scroll;
    padding-bottom:10px;
}
.forcast-itmes-container::-webkit-scrollbar{
    height:8px;
}
.forcast-itmes-container::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.1);
    border-radius: 99px;
}
.forcast-itmes-container::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.15);
    border-radius:99px;
}
.forcast-item{
    min-width:70px;
    background-color:rgba(255,255,255,0.1) ;
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-Items:center;
    gap:6px;
    padding:5px;
    border-radius:5px;
}
.forcast-img{
    width:38px;
    height:38px;

}
/* End Forcasting info */
/*End Weather Info */

/* Section Message  */
.section-message{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    gap:15px;
    margin-top:25%;
}

.section-message img{
    height: 180px;
    width: fit-content;
}
/* End Section Message  */

